# ==================== 核心依赖 ====================
pytest>=6.0
requests
urllib3
openpyxl

# ==================== Allure 报告 ====================
allure-pytest>=2.15.0


# ==================== 数据生成 ====================
Faker
